.navbar {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: blanchedalmond;
  font-family: 'EB Garamond', serif;
}

h1 {
  text-decoration: underline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}
