.navbar {
  display: flex;
  justify-content: flex-start;
}

body {
  background-color: blanchedalmond;
  font-family: 'EB Garamond', serif;
  margin: 1em;
  padding: 1em;
}

h1 {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 1em;
}


a {
  color:black;
}

a:visited {
  color:black;
}

a:hover {
  color:white;
}

a:active {
  color:black;
}

 .logo {
   margin: 1em;
 }
