<div class="container">
  <header class = "navbar">
    <img class="logo" src="http://iconshow.me/media/images/ui/Streamline-Icon/png/128/11-monocle-mustache-streamline.png" alt="" />
    <h1>{{#link-to 'index'}}Peculiar Ponderings{{/link-to}}</h1>
  </header>
    {{outlet}}

  <footer>

  </footer>
</div>
