<div class="container">
  <header class = "navbar">
    <h1>Peculiar Quandries and Ponderings</h1>
    {{#link-to 'index'}}Home{{/link-to}}
    <img src="http://iconshow.me/media/images/ui/Streamline-Icon/png/128/11-monocle-mustache-streamline.png" alt="" />
  </header>
    {{outlet}}
  <!-- <hr> -->
  <footer>

  </footer>
</div>
