<h2>You got questions? We've got answers!</h2>
<ul>
  {{#each model as |question|}}
  <li> {{question-tile question=question update="update"}} </li>
  {{/each}}
</ul>
{{new-question saveQuestion="saveQuestion"}}
